# This config file contains the version and download information
# used by the build

# R
r_version="3.1.0"
r_version_major=${r_version:0:1}
r_url="http://cran.r-project.org/src/base/R-$r_version_major/R-$r_version.tar.gz"

# pkgconfig
pkgconfig_version="0.23"
pkgconfig_url="http://pkgconfig.freedesktop.org/releases/pkg-config-$pkgconfig_version.tar.gz"

# freetype
freetype_version="2.5.0"
freetype_url="http://www.mirrorservice.org/sites/download.savannah.gnu.org/releases/freetype/freetype-$freetype_version.tar.gz" 

# directfb
directfb_version="1.2.9"
directfb_ver_major="${directfb_version:0:3}"
directfb_url="http://directfb.org/downloads/Core/DirectFB-$directfb_ver_major/DirectFB-$directfb_version.tar.gz"

# libpng
libpng_version="1.5.18"
libpng_url="http://r-buildpack.s3.amazonaws.com/libpng-$libpng_version.tar.xz"

# pixman
pixman_version="0.30.2"
pixman_url="http://cairographics.org/releases/pixman-$pixman_version.tar.gz"

# cairo
cairo_version="1.12.0"
cairo_url="http://cairographics.org/releases/cairo-$cairo_version.tar.gz"

# fontconfig
fontconfig_version="2.10.93"
fontconfig_url="http://www.freedesktop.org/software/fontconfig/release/fontconfig-$fontconfig_version.tar.gz"

# gcc
gcc_ver="4.3.6"
gcc_version="${gcc_ver:0:3}"
gcc_url="http://gfortran.com/download/x86_64/snapshots/gcc-$gcc_version.tar.xz"

# glib
glibc_version="2.7"
glibc_url="http://ftp.gnu.org/gnu/glibc/glibc-$glibc_version.tar.gz"
