# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.7z binary
*.bz2 binary
*.eot binary
*.exe binary
*.ez binary
*.fla binary
*.flv binary
*.gif binary
*.gz binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.pyc binary
*.swf binary
*.swp binary
*.ttf binary
*.woff binary
*.xz binary
*.zip binary
